header {
  background-color: #888;
}

/***************************************************/
/* Navigation buttons  */

.navigaion-bar {
  float: left;
  position: absolute;
  top: 250px;
  left: 80px;
}
.navigation-buttons a img {
  height: 80px;
  width: auto;
}
.navigation-buttons a {
}