.items-list li {
  min-height: 289px;
  margin-bottom: 10px;

  width: 180px;
  /*height: auto;*/

  background-color: #fff;
  margin-right: 11px;
  padding: 8px;
  height: 266px;

  float: left;
  margin-right: 24px;
  text-align: left;
  /*width: 170px;*/
}

.item-stars-width1 {
  width: 12px;
}
.item-stars-width2 {
  width: 24px;
}
.item-stars-width3 {
  width: 36px;
}
.item-stars-width4 {
  width: 48px;
}
.item-stars-width5 {
  width: 60px;
}

.items-list li .icon-stared {
  background: url('../images/shoes/orange_star.png');
}
.items-list li .icon-stars-off {
  background: url('../images/shoes/gray_star.png');
  position: relative;
  left: -3px;
}

.items-list li a.item-image {
  margin: 0 5px 5px 5px;
  display: block;
  text-align: center;
}

.item-stars .icon-stars {
  display: inline-block;
  height: 8px;
}

.item-price {
  float: right;
}
.items-list .item-value {

}


.items-list .item-sub-image {
  min-height: 17px;
}

.item-description a {
  color: #666 !important;
  font-size: 12px;
  text-decoration: none;
}


.item-value {
  margin-top: 8px;
}
.item-value .item-price {
  font-size: 120%;
}