.items-list li {
  min-height: 279px;
  margin-bottom: 10px;
  width: 180px;

  background-color: #fff;
  margin-right: 11px;
  padding: 8px;
  height: 266px;

  float: left;
  margin-right: 24px;
  text-align: left;
  /*width: 170px;*/
  border: 1px solid black;
}

.items-list li .item {
  height: 100%;
}

/**************************************************/
/* Item options */
.item .item-options {
  margin-bottom: 8px;
  font-weight: bold;
}
.item .item-options a {
  font-size: 90% !important;
}
.item .item-description .item-options:hover {
  cursor: pointer;
}
.item .item-description .item-options:hover a {
  color: orange !important;
}
.item .item-options .options-separator {
  position: relative;
  right: 3%;
  width: 106%;
  border-bottom: 1px dotted #dcd5d5;
  margin: 5px 0;
}
.item .logo-little {
  background: url('../images/factory_logo.gif');
  display: inline-block;
  height: 18px;
  width: auto;
}
.item .item-options .view-more-arrow {
  color: red;
}

/**************************************************/
/* Item Stars */
.item-stars .icon-stars {
  display: inline-block;
  height: 8px;
  position: relative;
  top: 2px;
}
.items-list li .icon-stared {
  background: url('../images/items/itemDisplays/orange_star.png');
}
.items-list li .icon-stars-off {
  background: url('../images/items/itemDisplays/gray_star.png');
  position: relative;
  left: -3px;
}

.item-stars-width1 {
  width: 12px;
}
.item-stars-width2 {
  width: 24px;
}
.item-stars-width3 {
  width: 36px;
}
.item-stars-width4 {
  width: 48px;
}
.item-stars-width5 {
  width: 60px;
}

/**************************************************/
/* Item image */
.items-list li a.item-image {
  margin: 0 5px 5px 5px;
  display: block;
  text-align: center;
}

.item .item-price {
  float: right;
}
.item .items-list .item-value {

}

.items-list .item-sub-image {
  min-height: 17px;
}

.item-description a {
  color: #666 !important;
  font-size: 12px;
  text-decoration: none;
}

.item-value {
  margin-top: 8px;
}
.item-value .item-price {
  font-size: 120%;
}


/**************************************************/
/* Item Details */
.item-detail {
  /*width: 310px;*/
  top: -50px;
  background-color: white;
}

