<footer>
  <div class="more-information-container">
    <div class="title">More information</div>
    <ul class="more-information-list">
      <li>Company</li>
      <li>Terms Of Service</li>
      <li>Privacy</li>
      <li>Policy</li>
      <li>Urbita in English</li>
      <li>Urbita en Español</li>
      <li>Urbita em Português</li>
      <li>Blog</li>
    </ul>
  </div>
  <div class="follow-us-container">
    <div class="title">Follow us</div>
    <div class="facebooc">Facebooc y eso aqui...</div>
  </div>
  <div class="partners-container">
    <div class="title">Partners</div>
    <a class="partners-logo" href="" target="_blank">
      <img src="/images/rackspace.png" height="30" width="100">
    </a>
    <a class="partners-logo" href="" target="_blank">
      <img src="/images/freshdesk.png">
    </a>
  </div>
</footer>
