<header>
  <div class="logo left"></div>
  <div class="mainoptions-container right">
    <div class="lenguage-selector">
      <ul class="lenguaje-list">
        <li>English</li>
        <li>Español</li>
        <li>Portugés</li>
      </ul>
    </div>
    <div class="log-container">
      <div class="login">Login</div>
      <div class="signup">Sign up now!</div>
    </div>
  </div>

  <div class="search-container">
    <div class="title">I love this place!</div>
    <div class="search-box-container">
      <input class="search-box" type="text" value="Enter a country, city, town or place name" defaultvalue="Enter a country, city, town or place name"/>

      <button class="search-button"></button>
    </div>
    <div class="sponsor-box">
      <ul class="sponsor-box-list">
      </ul>
    </div>
  </div>
  <div class="navigaion-bar">
    <div class="navigation-buttons">
      <a href="#back">
        <img src="images/back_button.png">
      </a>
      <a href="#forward">
        <img src="images/forward_button.png">
      </a>
    </div>
  </div>
</header>